@font-face {
    font-family: "Diodrum";
    src: url(./fonts/Diodrum_Regular.otf);
}

@font-face {
    font-family: "Diodrum_medium";
    src: url(./fonts/Diodrum_Medium.otf);
}

@font-face {
    font-family: "Diodrum_bold";
    src: url(./fonts/Diodrum_Bold.otf);
}

@font-face {
    font-family: "Diodrum_semibold";
    src: url(./fonts/Diodrum_Semibold.otf);
}

